<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h2>Mes informations de stage</h2>
          <hr>
        </section>

        <section class="content">
		    <div class="box-header with-border">
            <h3 class="box-title">
              <p>Les périodes de stage</p>
            </h3>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <button ng-click="StageCtrl.submit()" class="btn btn-primary">Ajouter une période de formation</button>
              </div>
            </div>
              <div class="panel panel-primary" ng-repeat="stuff in StageCtrl.stuffs">
                <div class="panel-heading">
                  <h3 class="panel-title">Periode de stage</h3> </div>
                <div class="panel-body" >
                    <h1></h1>
                </div>
            </div>
          </div>
        </section>
 </div>

