<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h2>Editer mon profil</h2>
        </section>
<!-- Main content -->
    <section class="content">
      
        <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Mon profil</h3>
            </div>
          <form class="form-inline" role="form" novalidate name="form">
          <div class="row">
            <div class="form-group">
              <label class="sr-only" for="item-name">Votre nom</label>
              <input
                class="form-control"
                ng-model="lastName"
                placeholder="Votre nom" />
            </div>
            <div class="form-group">
              <label class="sr-only" for="item-price">Votre prénom</label>
              <input
                class="form-control"
                ng-model="firstName"
                placeholder="Votre prénom" />
            </div>
            
          <div class="row">
            <button ng-click="ProfileController.bidon()">Save</button>

          </div>

              </form>   <!-- /form -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    </section>
    <!-- /.content -->