<!-- Main content -->
    <section class="content">
      
        <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Mon profil</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form">
                <!-- nom -->
                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <!-- Prénom -->
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" class="form-control" placeholder="Enter ..." disabled>
                </div>
                <!-- email -->
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Email">
              </div>

                <!-- Date de naissance-->
                <div class="form-group">
                <label>Date de naissance</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" id="datepicker">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <!-- téléphone -->
              <div class="form-group">
                <label>Téléphone:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask='"mask": "(+33) 9-99-99-99-99"' data-mask>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              
              <!-- Situation profesionnelle -->
              <div class="form-group">
                  <label>Situation professionnelle</label>
                  <input type="text" class="form-control" placeholder="Entrez votre situation professionnelle (poste)">
              </div>

               <!-- Loisirs -->
              <div class="form-group">
                  <label>Loisirs</label>
                  <input type="text" class="form-control" placeholder="Entrez vos loisirs">
              </div>

               <!-- Mot clés -->
              <div class="form-group">
                  <label>Mots clés</label>
                  <input type="text" class="form-control" placeholder="Entrez vos mots clés, séparés d'une virgule">
              </div>
              <!-- textarea -->
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" rows="3" placeholder="Entrez une petite description de vous même"></textarea>
                </div>

              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    </section>
    <!-- /.content -->