<div class="content-wrapper">
<section class="content">
          <!-- COLOR PALETTE -->
          <section class="content-header">
          <h1>Mon stage</h1>
          <ol class="breadcrumb">
            <li>
              <a href="#/home "><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Mon stage</li>
          </ol>
        </section>
          <!-- /.box -->
          <!-- START ALERTS AND CALLOUTS -->
          <div class="row">
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-user"></i>
                  <h3 class="box-title">Eleve</h3>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" role="form" name="stageForm"> 
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="lastNameStudent" class="control-label">Nom</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.lastNameStudent" placeholder="Nom" ng-minlength="2" ng-maxlength="20" name="lastNameStudent" required>
                    </div>
                     <div ng-messages="stageForm.lastNameStudent.$error">
                      <p ng-message="minlength" style="color:red" role="alert">Votre nom est trop petit</p>
                      <p ng-message="maxlength" style="color:red" role="alert">Votre nom est trop long</p>
                      <p ng-message="required" style="color:red" role="alert">Merci de renseigner votre nom</p>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="firstName" class="control-label">Prénom</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.firstNameStudent" placeholder="Prénom" ng-minlength="2" ng-maxlength="20" name="firstNameStudent" required>
                    </div>
                     <div ng-messages="stageForm.firstNameStudent.$error">
                      <p ng-message="minlength" style="color:red" role="alert">Votre prénom est trop petit</p>
                      <p ng-message="maxlength" style="color:red" role="alert">Votre prénom est trop long</p>
                      <p ng-message="required" style="color:red" role="alert">Merci de renseigner votre prénom</p>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="emailStudent" class="control-label">Adresse email</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.emailStudent" placeholder="Adresse email">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="address" class="control-label">Adresse</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="addressStudent" ng-model ="StageCtrl.stage.value.addressStudent" placeholder="Adresse" required>
                    </div>
                    <div ng-messages="stageForm.addressStudent.$error">
                      <p ng-message="required" style="color:red" role="alert">Merci de renseigner votre addresse</p>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="formation" class="control-label">Formation</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.formation"  placeholder="Cycle de formation" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="job" class="control-label">Poste</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.occupationStudent" placeholder="Poste occupé">
                    </div>
                  </div>
                </form>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-briefcase"></i>
                  <h3 class="box-title">Mon entreprise</h3>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="name" class="control-label">Nom</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.social"  placeholder="Raison sociale" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="adressCompany" class="control-label">Adresse</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.addressCompany"  placeholder="Adresse de l'entreprise" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="activity" class="control-label">Domaine</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.activity"  placeholder="Domaine d'activité">
                    </div>
                  </div>

                </form>
                <!-- /.box-header -->
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <!-- END ALERTS AND CALLOUTS -->
          <!-- START CUSTOM TABS -->
          <div class="box-header with-border">
            <i class="fa fa-user"></i>
            <h3 class="box-title">Mon tuteur</h3>
          </div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="lastNameTut" class="control-label">Nom</label>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.lastNameTut" placeholder="Nom" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="firstNameTut" class="control-label">Prénom</label>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.firstNameTut" placeholder="Prénom" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                  <label for="emailTut" class="control-label">Adresse email</label>
              </div>
              <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.emailTut" placeholder="Adresse email" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="telNumber" class="control-label">Téléphone</label>
              </div>
              <div class="col-sm-6">
                <input type="tel" class="form-control" ng-model ="StageCtrl.stage.value.phoneTut" placeholder="Telephone (+33 .. .. .. ..)">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="fonctionTut" class="control-label">Fonction</label>
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control" ng-model ="StageCtrl.stage.value.occupationTut" placeholder="Fonction occupée">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-6">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom"></div>
              <!-- nav-tabs-custom -->
            </div>
            <div class="col-md-6">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom"></div>
              <!-- nav-tabs-custom -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
          </div>
          <form class="form-horizontal text-center" role="form">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button
                  class="btn btn-primary pull-right"
                  type="submit" ng-click="StageCtrl.updateStage(StageCtrl.stage.id,StageCtrl.stage.value)" ng-disabled="stageForm.$invalid">Enregistrer mes infos générales</button>

              </div>
            </div>
          </form>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Control Sidebar -->