<div class="content-wrapper">
<section class="content">
          <!-- COLOR PALETTE -->
          <section class="content-header">
          <h1>Mon stage</h1>
          <ol class="breadcrumb">
            <li>
              <a href="#/home "><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li class="active">Mon stage</li>
          </ol>
        </section>
          <!-- /.box -->
          <!-- START ALERTS AND CALLOUTS -->
          <div class="row">
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-user"></i>
                  <h3 class="box-title">Eleve</h3>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="Lastname" class="control-label">Nom</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="lastName" class="form-control" placeholder="Nom">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="firstName" class="control-label">Prénom</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Prénom">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="address" class="control-label">Adresse</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Adresse">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="formation" class="control-label">Formation</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Cycle de formation">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">Poste</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Poste occupé">
                    </div>
                  </div>
                </form>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-briefcase"></i>
                  <h3 class="box-title">Mon entreprise</h3>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputEmail3" class="control-label">Nom</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Raison sociale">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">Adresse</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Adresse de l'entreprise">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">Domaine</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Domaine d'activité">
                    </div>
                  </div>

                </form>
                <!-- /.box-header -->
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <!-- END ALERTS AND CALLOUTS -->
          <!-- START CUSTOM TABS -->
          <div class="box-header with-border">
            <i class="fa fa-user"></i>
            <h3 class="box-title">Mon tuteur</h3>
          </div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="lastName" class="control-label">Nom</label>
              </div>
              <div class="col-sm-10">
                <input type="name" class="form-control" placeholder="Nom">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="firstName" class="control-label">Prénom</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Prénom">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="telNumber" class="control-label">Téléphone</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Telephone (+33 .. .. .. ..)">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputPassword3" class="control-label">Fonction</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Fonction occupée">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputPassword3" class="control-label"></label>
              
            </div>
          </form>
          <div class="row">
            <div class="col-md-6">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom"></div>
              <!-- nav-tabs-custom -->
            </div>
            <div class="col-md-6">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom"></div>
              <!-- nav-tabs-custom -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
          </div>
          <form class="form-horizontal text-center" role="form">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-lg btn-primary">Enregistrer mes infos générales</a>
              </div>
            </div>
          </form>

          <div class="box-header with-border">
            <h3 class="box-title">
              <p>Mes documents</p>
            </h3>
            </div>

          <div class="box-header with-border">
            <h3 class="box-title">
              <p>Les périodes de stage</p>
            </h3>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary">Ajouter une période de formation</a>
                </div>
              </div>



            </div>
          </div>
          <!-- /.row -->
          <!-- END CUSTOM TABS -->
          <!-- START PROGRESS BARS -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- END PROGRESS BARS -->
          <!-- START ACCORDION & CAROUSEL-->
          <!-- /.row -->
          <!-- END ACCORDION & CAROUSEL-->
          <!-- START TYPOGRAPHY -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- END TYPOGRAPHY -->
        </section><div class="container"></div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Control Sidebar -->