<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Application de stage</h1>
        </section>

<section class="content">
          <!-- COLOR PALETTE -->
          <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title">
                <i class="fa fa-tag">Les infos générales de mon stage</i>
              </h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- START ALERTS AND CALLOUTS -->
          <div class="row">
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-user"></i>
                  <h3 class="box-title">ELEVE</h3>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputEmail3" class="control-label">NOM</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">PRENOM</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">ADRESSE</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">CYCLE DE FORMATION</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">POSTE OCCUPE</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Poste occupé">
                    </div>
                  </div>
                </form>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="box box-default">
                <div class="box-header with-border">
                  <i class="fa fa-briefcase"></i>
                  <h3 class="box-title">ENTREPRISE</h3>
                </div>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputEmail3" class="control-label">RAISON SOCIALE</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputEmail3" placeholder="Raison sociale">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">&nbsp; &nbsp; ADRESSE</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Adresse de l'entreprise">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">DOMAINE ACTIVITE</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3" placeholder="Domaine d'activité">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label">&nbsp; &nbsp; &nbsp;&nbsp;</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputPassword3">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label for="inputPassword3" class="control-label"></label>
                    </div>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                </form>
                <!-- /.box-header -->
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <!-- END ALERTS AND CALLOUTS -->
          <!-- START CUSTOM TABS -->
          <div class="box-header with-border">
            <i class="fa fa-user"></i>
            <h3 class="box-title">TUTEUR</h3>
          </div>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputEmail3" class="control-label">NOM</label>
              </div>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputPassword3" class="control-label">PRENOM</label>
              </div>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputPassword3" class="control-label">NUMERO DE TELEPHONE</label>
              </div>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputPassword3" class="control-label">CYCLE DE FORMATION</label>
              </div>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
                <label for="inputPassword3" class="control-label"></label>
              </div>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-6">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom"></div>
              <!-- nav-tabs-custom -->
            </div>
            <div class="col-md-6">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom"></div>
              <!-- nav-tabs-custom -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
          </div>
          <form class="form-horizontal text-center" role="form">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-lg btn-primary">Enregistrer mes infos générales</a>
              </div>
            </div>
          </form>
          <div class="box-header with-border">
            <h3 class="box-title">
              <i class="fa fa-tag">&nbsp;Les périodes de stage&nbsp;</i>
            </h3>
            <div class="container">
              <div class="row"></div><div class="row">
                <div class="col-md-12">
                  <a class="btn btn-primary">Ajouter une période de formation</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <!-- END CUSTOM TABS -->
          <!-- START PROGRESS BARS -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- END PROGRESS BARS -->
          <!-- START ACCORDION & CAROUSEL-->
          <!-- /.row -->
          <!-- END ACCORDION & CAROUSEL-->
          <!-- START TYPOGRAPHY -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- /.row -->
          <!-- END TYPOGRAPHY -->
        </section><div class="container"></div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Control Sidebar -->